<h1> Welcome to <%= @team.name%> page </h1>
<ul>
    <li> Name : <%= @team.name.capitalize %>
    <li> Color : <%= @team.color %>
    <li> City : <%= @team.city %>
</ul>

<%= form_tag team_path(@team.id), method: "delete" do %>
    <%= submit_tag "Delete #{@team.name}" %>
  <% end %> 