<html>
<head>
<link rel="stylesheet" href="pages.scss">
</head>

<body>
<div class="container">


<h1> Welcome to <%= @athlete.name%>'s profile page! </h1>


<ul>
    <li> Position : <%= @athlete.position %>
    <li> Jersey Number : <%= @athlete.jersey %>
    <li> Height : <%= (@athlete.height*0.0833).round(1).to_s.sub(".","'") %>
    <li> Years in the league : <%= @athlete.years_of_experience %>
    <li> Championships : <%= @athlete.championships %>
    <li> Current Team : <%= Team.all.find_by(id: @athlete.team.id).name.capitalize%>
</ul><br><br>

<%= form_tag edit_athlete_path, method: "get" do %>
  <%= submit_tag "Edit #{@athlete.name}" %>
<% end %><br><br>



<%= form_tag athlete_path(@athlete.id), method: "delete" do %>
  <%= submit_tag "Delete #{@athlete.name}" %>
<% end %> <br><br>





</div>
</body>
</html>


