<h1> Edit Mascot! </h1>

<%= form_with model: @mascot do |a| %>
    
    Name : <%= a.text_field :name %><br><br>
    Character : <%= a.text_field :character %><br><br>
    Bio : <%= a.text_field :bio   %><br><br>
    Team :  <%= a.collection_select :team_id , Team.all, :id, :name %><br><br>
    <%= a.submit %><br>
  <% end %>