<html>
<head>
<link rel="stylesheet" href="pages.scss">
</head>

<body>
<div class="container">
<h1> Welcome to <%= @mascot.name%>'s page </h1>
<ul>
    <li> Name : <%= @mascot.name %>
    <li> Bio : <%= @mascot.bio %>
    <li> Character : <%= @mascot.character %>
    <li> Current Team : <%= Team.all.find_by(id: @mascot.team.id).name.capitalize%>
</ul><br><br>




      <%= form_tag edit_mascot_path, method: "get" do %>
        <%= submit_tag "Edit #{@mascot.name}" %>
      <% end %><br><br>

      <%= form_tag mascot_path(@mascot.id), method: "delete" do %>
        <%= submit_tag "Delete #{@mascot.name}" %>
        <% end %>


</div>
</body>
</html>



