<html>
<head>
<link rel="stylesheet" href="pages.scss">
</head>

<body>
<div class="container">
<h1> Welcome to <%= @fan_club.name%> page </h1>
<ul>
    <li> Name : <%= @fan_club.name %>
    <li> Location : <%= @fan_club.location %>
    <li> Current Team : <%= Team.all.find_by(id: @fan_club.team.id).name.capitalize%>
</ul><br>




<%= form_tag edit_fan_club_path, method: "get" do %>
  <%= submit_tag "Edit your Fan Club" %>
<% end %> <br><br><br>



<%= form_tag edit_fan_club_path, method: "get" do %>
  <%= submit_tag "Edit #{@fan_club.name}" %>
<% end %><br><br>

<%= form_tag fan_club_path(@fan_club.id), method: "delete" do %>
  <%= submit_tag "Delete #{@fan_club.name}" %>
<% end %> 


</div>
</body>
</html>

