<html>
<head>
<link rel="stylesheet" href="pages.scss">
</head>

<body>
<div class="container">
<h1> Welcome to <%= @coach.name%>'s page </h1>
<ul>
    <li> Name : <%= @coach.name %>
    <li> Age : <%= @coach.age %>
    <li> Bio : <%= @coach.bio %>
    <li> Years in the leauge : <%= @coach.years_of_experience %>
    <li> Championships : <%= @coach.championships %>
    <li> Current Team : <%= Team.all.find_by(id: @coach.team.id).name.capitalize%>
</ul>

<h2><%= @coach.name %></h2>
<%= form_tag coach_path(@coach.id), method: "delete" do %>
  <%= submit_tag "Delete #{@coach.name}" %>
  <% end %>

  <%= form_tag coaches_path, method: "get" do %>
    <%= submit_tag "All Coaches" %>
  <% end %>
  <%= form_tag root_path, method: "get" do %>
    <%= submit_tag "Home" %>
  <% end %>



</div>
</body>
</html>
